*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'poppins', sans-serif;
  }
  
  body {
    width:100vw;
    background-image: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    text-align: center;
    color: white;
    background-color: rgb(6, 31, 104);
}

#survey-form {
    background-color: rgb(1, 1, 20);
    margin: 0% 25%;
    text-align: left;
    padding: 3%;
    border-radius: 1ch;
}

h1 {
    padding-top: 2rem;
}

#description {
    padding: 1rem;
}

#fill>input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 1ch
}

#fill>select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 1ch
}



